@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family:'Courier New', Courier, monospace
}
header{
    background-color: white;
    padding: 20px;
}
.google{
    block-size: 100px;
    background-image: url(imagens/Google-Emblema.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
menu{
    text-align: center;
    margin-top: 5px;
    list-style-type: none;
}
menu li{
    display: inline;
    padding-right: 20px;
}
menu a{
    font-size: 19px; 
    font-weight: bolder; 
    text-decoration: none;
    color: gray;
}
menu a:hover{
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
    border: transparent;
}
main{
    padding: 15px;
    padding-bottom: 10px;
    height: 110%;
    background-color: rgba(128, 128, 128, 0.178);
    margin: auto;
    color: black;
}
main h1{
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}
main h2 {
    font-weight:bold;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}
main h3{
    text-indent: 20px;
    text-align: justify;
    font-weight: lighter;
}
main li{
    padding-bottom: 10px;
    font-size: large;
}
main a{
    text-decoration: none;
    color: black;
}
main a:hover{
    color: blue;
}
#imagem1{
    margin-top: 30px;
    margin-bottom: 30px;
    block-size: 500px;
    background-size: contain;
    background-position:
    center center;
    background-repeat: no-repeat;
    
}
.imagem1{
    background-image: url(imagens/Multi-Lateral-Business-Model-Canvas.png)
}
.imagem2{
    background-image: url(imagens/graficos.webp);
}
.imagem3{
    background-image: url(imagens/tabela.png);
}
footer{
    background-color: rgba(128, 128, 128, 0.301);
}
footer h1{
    font-size: 18px;
}
footer h2{
    font-size: 17px;
    
}
footer .tópicos{
    color:rgba(0, 0, 0, 0.664);
    text-align: center;
    font-weight: bold;
    padding: 15px;
}